/* BASIC css start */
#login .page-wrap { width:390px; margin:0 auto; overflow: hidden; }
#login .page-wrap .login-form,
#login .page-wrap .login-desc { clear:both; width: 100%; padding-bottom:40px; margin:0 auto; }
#login .page-wrap .login-desc .tit { margin-bottom: 10px; font-size: 13px; letter-spacing: 0px; }
#login .page-wrap .login-desc .msg { margin-bottom: 10px; font-size: 11px; letter-spacing: 0px; line-height: 20px; color: #aaa; text-align:center; }

#login .page-wrap .login-form { position: relative; width:310px; margin: 0 auto; }
#login .page-wrap .login-form .login-list { overflow: hidden; }
#login .page-wrap .login-form .login-list li { width: 260px; margin-bottom: 5px; }
#login .page-wrap .login-form .login-list li,
#login .page-wrap .login-form .login-list li label { float: left; }
#login .page-wrap .login-form .login-list li label { width: 80px; padding-top: 0px; }
#login .page-wrap .login-form a { position: absolute; top: 1px; right: 0px; }
#login .page-wrap .login-form .security { position: absolute; top: 100px; left: 110px; }
#login .page-wrap .login-form .login-list .MS_input_txt { width: 160px; border: 1px solid #ccc; padding: 2px; height: 14px; margin: 0; }
#login .page-wrap .login-form .login-list .w70 { width: 70px; }

#login .gab { margin-bottom: 40px; }
/* BASIC css end */

